     body {
      font-family: Arial, sans-serif;
      margin: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      background-color: #212c69;
      color: #fff;
    }

    #taskInput {
      width: 200px;
      margin-right: 10px;
    }

    #addTaskBtn {
      cursor: pointer;
    }

    #taskList {
      margin-top: 20px;
    }

    .taskItem {
      margin-bottom: 5px;
    }

    .deleteBtn {
      cursor: pointer;
      margin-left: 5px;
      color: red;
    }
